spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${OAUTH_GOOGLE_CLIENT_ID:null}
            client-secret: ${OAUTH_GOOGLE_CLIENT_SECRET:null}
            scope:
              - email
              - profile
          facebook:
            client-id: ${OAUTH_FACEBOOK_CLIENT_ID:null}
            client-secret: ${OAUTH_FACEBOOK_CLIENT_SECRET:null}
            scope:
              - email
              - public_profile
          naver:
            client-id: ${OAUTH_NAVER_CLIENT_ID:null}
            client-secret: ${OAUTH_NAVER_CLIENT_SECRET:null}
            client-authentication-method: post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - nickname
              - email
              - profile_image
            client-name: Kakao
          kakao:
            client-id: ${OAUTH_KAKAO_CLIENT_ID:null}
            client-secret: ${OAUTH_KAKAO_CLIENT_SECRET:null}
            client-authentication-method: post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/{action}/oauth2/code/{registrationId}"
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: Kakao
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

app:
  oauth2:
    authorized-redirect-uris:
      - http://localhost:3000/oauth2/redirect
